$white: #fff;
$grey: #444444;
$accent: #ffc451;
$error: #f11a1a;
$success: #1a8f1a;
$txt: #151515;
$header_link: rgba(255, 255, 255, 0.905);
$bg: #272727;
$bg_block: rgba($white, 0.03);

$red: #f45549;

$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$desctop_wide: 1440px;
